@import "tailwindcss";

#root {
  width: 100%;
  margin: 0 auto;
 
  text-align: center;
}
body {
	place-items: flex-start !important;
   font-family: "Poppins", sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.swiper-navigation-icon{ display: none !important;}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.swiper-button-prev, .swiper-button-next {
  &.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
	display: none;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.player {
	display: flex;
	gap: 9px;
	padding: 15px;
	background-color: #ccc; position: relative;
}
.playimg {
	width: 30px;
	border-radius: 5px;
}
.songplayinfo {
	display: flex;
	font-size: 10px;
	font-weight: 600;
	width: 100px;
	align-items: center;
}
.pagination button {
  background-color: rgb(2, 174, 66);
  color: #fff;
  padding: 0;
  width: 25px;
  height: 25px;
  min-width: 0;
  border-radius: 50%;
}
.pagination {
  justify-content: flex-end;
  display: flex;
  gap: 5px;
}
.feebackwrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #00000090;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formfeed {
	background-color: #fff;
	width: 300px;
	height: 335px;
  position: relative;
}
.cross {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 2px 9px;
    min-width: auto;
    border-radius: 50%;
}
.formfeed > div {
  margin-bottom: 8px;
  width: 100%;
}
.formfeed > div .MuiInputBase-formControl {
  border-color: red;
}
.formfeed > div fieldset {
  border-color: #3df20b;
}
.formfeed > div input {
  padding: 12px 15px;
}